<div class="container">
  <div class="company-selector">
    <app-company-selector-options (onUserSearch)="search($event)"></app-company-selector-options>
    <div *ngIf="filteredCompanies && filteredCompanies.length; else noResultsTemplate">
      <div class="company-selector-items">
        <div *ngFor="let company of filteredCompanies">
          <app-company-selector-item
            (onSelectCompany)="onSelectedCompanyChange($event)"
            [selected]="selectedCompany ? selectedCompany.id === company.id : false"
            [company]="company">
          </app-company-selector-item>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResultsTemplate>
  <div class="company-selector-no-results">
    <p *ngIf="query">No results found</p>
    <p *ngIf="!query">Loading</p>
  </div>
</ng-template>
