.green:hover {
  background-color: #3bff00;
}

.yellow:hover {
  background-color: #ffff00;
}

.red:hover {
  background-color: #ff0000;
}

h2 {
  margin-top: 0px;
}

.company-details {
  width: 100%;
}

.company-details-main {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.company-details-main > div {
  width: 100%;
  display: flex;
}

.company-details-no-company {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.company-details-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #2D2F3C;
}

.company-details-info {
  display: flex;
  width: 100%;
}

.company-details-contact-detail, .company-details-info {
  height: 250px;
}

.company-details-info > div {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.company-details-info label {
  font-size: 0.9em;
  width: 150px;
}

.company-details-contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company-details-contacts > div > div {
  margin-bottom: 10px;
}

.company-details-contact-detail > div {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.company-details-contact-detail > div label {
  width: 150px;
}

.company-details-contacts-header {
  display: flex;
  align-items: center;
}

.company-details-contacts-header * {
  margin: 0px;
}

.company-details-contacts-header fa {
  margin-left: 10px;
  color: #2D2F3C;
}

.company-details-contacts-header fa:hover {
  cursor: pointer;
  color: #00A0ED;
}

.company-details-buttons {
  display: block;
  margin-top: 10px;
}

.contact-form > div {
  display: flex;
}

input {
  margin: 5px 0px;
  border-radius: 0px;
  height: 25px;
  width: 250px;
  font-size: 1.2em;
}

input:focus {
  outline-color: #00A0ED;
  outline-width: thin;
}

button {
  cursor: pointer;
  transition: 0.2s all ease;
  border: 1px solid #2D2F3C;
  margin-right: 5px;
  width: 100px;
  height: 35px;
  color: #2D2F3C;
}

@media (max-width: 768px) {
  .company-details-main > div {
    flex-direction: column;
  }
  .company-details-info {
    height: auto;
    flex-direction: column;
  }
  .company-details-info > div {
    width: 100%;
  }
  .company-details-buttons {
    margin: 10px 0px;
  }
}
